<nav class="navbar">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">Digi Classroom</a>
        <a href="#!" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/stories">All Assignments</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="https://morning-fortress-01433.herokuapp.com/" target="_blank">Chat</a></li>
            <li><a href="/video_call">Video Call</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>