<h3><img src="/img/logo.jpg"><br>Digi Classroom</h3>
<div class="section">
    <p class="lead">A Digital Classroom along with video and chat functionalities.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>LogIn with Google
    </a>
</div>